environment            = "sample-customer-env"
region                 = "ap-south-1"
rest_api_service_name  = "com.amazonaws.vpce.ap-south-1.vpce-svc-07c813d8840493bcf"
grpc_service_name      = "com.amazonaws.vpce.ap-south-1.vpce-svc-028ad7f3e7879c47c"
api_grpc_service_name  = "com.amazonaws.vpce.ap-south-1.vpce-svc-0dd30c956893d640e"
files_service_name     = "com.amazonaws.vpce.ap-south-1.vpce-svc-0c4777e1cc92bf8a8"
kvisor_service_name    = "com.amazonaws.vpce.ap-south-1.vpce-svc-0123456789abcdef0"
telemetry_service_name = "com.amazonaws.vpce.ap-south-1.vpce-svc-0123456789abcdef0"
vpc_id                 = "vpc-07707ee4f46a88a53"
enable_bastion         = false
enable_sample_vm       = true
sample_vm_subnet_id    = "subnet-094258769470dc479"
sample_vm_instance_type = "t3.micro"
private_dns_enabled = true
