environment            = ""
region                 = ""
rest_api_service_name  = ""
grpc_service_name      = ""
api_grpc_service_name  = ""
files_service_name     = ""
kvisor_service_name    = ""
telemetry_service_name = ""
vpc_id                 = ""
enable_bastion         = false
enable_sample_vm       = true
sample_vm_subnet_id    = ""
sample_vm_instance_type = "t3.micro"
private_dns_enabled = true
